<html>
    <head>
        <script src="https://perf.gateway.mastercard.com/checkout/version/58/checkout.js" data-error="errorCallback" data-cancel="cancelCallback"></script>
        <script type="text/javascript">
            function errorCallback(error) {
                  console.log(JSON.stringify(error));
            }
            function cancelCallback() {
                  console.log('Payment cancelled');
            }
            Checkout.configure({
              session: {
                id: '{{session}}'
                },
              interaction: {
                    merchant: {
                        name: 'nameOfMerchant',
                        address: {
                            line1: 'Level 21',
                            line2: '300 Adelaide Street'
                        }
                    }
               }
            });
        </script>
    </head>
    <body>
      <input type="button" value="Pay with Lightbox" onclick="Checkout.showLightbox();" />
      <input type="button" value="Pay with Payment Page" onclick="Checkout.showPaymentPage();" />
    </body>
</html>